.dark {
    background-color: #272727;
    color: #fff;
}

button.dark {
    border: 1px solid #fff;
}

button.dark:focus {
    background-color: #fff;
    color: #272727;
    outline: 1px solid white;
}

.hidden {
    visibility: hidden;
}

body {
    width: 280px;
    padding: 10px;
    font-family: sans-serif;
    background-color: #fff;
    color: #272727;
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;
}

#disabledMessage {
    padding: 5px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0;
}

button {
    background-color: white;
    border: 1px solid #272727;
    border-radius: 3px;
    color: #272727;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    outline-offset: 2px;
}

button:focus {
    background-color: #272727;
    color: white;
    outline: 1px solid #272727;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    font-family: monospace;
    margin-bottom: 10px;
}

.top-buttons,
.bottom-buttons {
    display: flex;
    justify-content: space-between;
}

#siteListWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}
